<!-- task dashboard -->
<div class="app-container">
  <header class="header">
    <h2 class="username">{{ user() }} 👋</h2>
  </header>

  <section class="card task-card">
    <h3 class="section-title">Task Manager</h3>
    <div class="input-row">
      <!-- <input title="newTask" type="text" [value]="newTask()" (input)="update($event.target.value)" /> -->
      <input
        title="newTask"
        class="input"
        type="text"
        [(ngModel)]="newTask"
        placeholder="Add a task"
      />
      <button class="btn btn-primary" (click)="add()">add</button>
    </div>

    <ul class="task-list">
      @for(task of tasks(); track task.id){
      <li class="task-item">
        <p
          class="task-title"
          appAnimate
          type="task"
          [state]="task.done"
          #anim="appAnimate"
          [ngClass]="anim.classes"
        >
          {{ task.title }}
        </p>

        <div class="task-button">
          <button class="btn btn-sucess" (click)="toggle(task.id)">mark done</button>
          <button class="btn btn-danger" (click)="remove(task.id)">remove</button>
        </div>
      </li>
      }
    </ul>
  </section>

  <section class="card timer-card">
    <h3 class="section-title">Timer</h3>

    <div class="input-row">
      <!-- <input title="input" type="number" [value]="input()" (input)="updatetimer($event.target.value)" /> -->
      <input class="input" title="input" type="number" [(ngModel)]="input" />
    </div>

    @if(val() > 0){
    <p
      class="timer-display"
      appAnimate
      type="timer"
      [state]="val()"
      #anim="appAnimate"
      [ngClass]="anim.classes"
    >
      remaining time : {{ val() }}
    </p>
    } @if(val() == 0 && isStart()){
    <h1
      class="timer-done"
      appAnimate
      type="timer"
      [state]="val()"
      #anim="appAnimate"
      [ngClass]="anim.classes"
    >
      TIME's UP!!!
    </h1>
    }
    <div class="button-row">
      <button class="btn btn-primary" (click)="start()">start</button>
      <button class="btn btn-warning" (click)="stop()">stop</button>
      <button class="btn btn-danger" (click)="reset()">reset</button>
    </div>
  </section>

  <section class="card quote-card">
    <!-- <div style="height: 600px"></div> -->
    <h3 class="section-title">quotes</h3>

    <!-- @defer (on viewport; when loadQuote()){ -->
    @defer (on timer(5000)){
    <p class="quote-text">"{{ quote() }}"</p>
    }@placeholder{
    <p class="quote-loading">Loadin...</p>
    }
  </section>
</div>
